<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Angular</title>

  <!-- Angular -->
  <script src="//unpkg.com/core-js@2.5.7/client/shim.min.js"></script>
  <script src="//unpkg.com/zone.js@0.8.26?main=browser"></script>
  <script src="//unpkg.com/zone.js@0.8.26/dist/long-stack-trace-zone.js"></script>
  <script src="//unpkg.com/reflect-metadata@0.1.8"></script>
  <script src="//unpkg.com/systemjs@0.19.47/dist/system.js"></script>

</head>

<body>
  <my-app>Loading...</my-app>
  <!-- Project -->
  <script src="config.js"></script>
</body>
</html>
