<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AngularJS</title>

  <!-- AngularJS -->
  <script src="res/jquery@3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular@1.8.0/angular.min.js"></script>

</head>

<body>
  <!-- AngularJS App Container -->
<div id="angular-app" data-ng-app="app">
  <div data-ng-controller="MainCtrl as vm" class="">
    <h1 class="">{{heading}}</h1>
    <p class="">{{text}}</p>
  </div>
</div>
  <!-- Project -->
  <script src="index.js"></script>
</body>
</html>
