<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LearnSnake</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="game-container">
		<canvas id="gc" class="game-canvas" width="400" height="400"></canvas>

		<div id="setup-container">
			<div id="game-info">
				<p id="score" class="info-score">scored: </p>
				<p id="missed" class="info-score">died: </p>
			</div>

			<div id="game-setup">
				<p class="title-slider">Learning Rate</p>
				<input id="rangeLR" type="range" class="slider" min="0" max="100" value="65">
				<p class="title-slider">Discount Factor</p>
				<input id="rangeDF" type="range" class="slider" min="0" max="100" value="80">
				<p class="title-slider">Action Randomization</p>
				<input id="rangeRandom" type="range" class="slider" min="0" max="100" value="5">

				<div class="item-container">
					<input id="fullSet" class="checkbox-fullset" type="checkbox">
					<label for="fullSet" class="title-slider">Full set of states <small>(may take longer to train)</small></label>
				</div>
				<div class="item-container">
					<button id="btnTrain" type="button" class="btnGame">&#9654; TRAIN</button>
					<button id="btnReset" type="button" class="btnGame btnReset">reset</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="game.js"></script>
	<script type="text/javascript" src="q-learning.js"></script>
	<script type="text/javascript" src="user-interface.js"></script>
</body>
</html>